## This file is for educational purposes only. 
## It mirrors cofigurations of the real file with environmental variables, 
## which is used for deployment, and is not exposed in GitHub.

MSSQL_SA_PASSWORD=change-me
DB_NAME=DeploymentJourneyDb
DOCUMENTATION_EDIT_API_KEY=change-me